<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <a href="/" class="site-logo"><img src="../../../assets/icon.png" style="width: 50px;height: 50px;"></a>
        
        <li class="nav-item active" *ngFor="let category of categoryArray">
          
          <span class="nav-link category-link" id="{{category.id}}" (click)="selectCategory(category)">{{category.data.category}}</span>
        </li>
      </ul>

    </div>
  </nav>
  