<div class="container">
  <div class="row banner-row">

    
      <div class="col-md-4 md-5" style="margin-top: 10%;">
        <div class="card shadow-effect" routerLink="/categories">
          <div class="card-body text-center bg-dragon-ball">
            <h1 class="mt-3 text-theme-primary"><i class="fas fa-dragon"></i></h1>
            <h2 class="text-theme-primary">Category</h2>
            <p>Manage your category details here</p>
          </div>
        </div>
      </div>

      <div class="coll-md-4 mb5" style="margin-top: 10%;">
        <div class="card shadow-effect" routerLink="/characters">
          <div class="card-body text-center bg-dragon-ball">
            <h1 class="mt-3 text-theme-primary"><i class="fas fa-dragon"></i></h1>
            <h2 class="text-theme-primary">Character</h2>
            <p>Manage your character details here</p>
          </div>
        </div>
      </div>

      <div class="coll-md-4 mb5" style="margin-left: 10px;width: 33.333333%; margin-top: 10%;">
        <div class="card shadow-effect" routerLink="/vidoes">
          <div class="card-body text-center bg-dragon-ball">
            <h1 class="mt-3 text-theme-primary"><i class="fas fa-dragon"></i></h1>
            <h2 class="text-theme-primary">Video</h2>
            <p>Upload videos</p>
          </div>
        </div>
      </div>
   


  </div>
</div>
