<header class="navbar navbar-expand-lg ">
    <div class="container justify-content-center">
        
    </div>
    <!-- verifie touletent si il la rosu (async) -->
    <div class="container justify-content-center" style="margin-right: 50%;" *ngIf="isLoggedIn$ | async">
        <a href="#" class="mr-3">{{userEmail}}</a>
        <button class="btn btn-sm btn-info bg-secondary-theme text-theme-primary" (click)="onLogOut()">Logout</button>
    </div>
    <div class="container justify-content-center">
        <ul class="head">
            <li  class="head-item"><a href="/" class="head-link">דף בית</a></li>&nbsp; &nbsp; &nbsp; 
            <li  class="head-item"><a href="/info" class="head-link">סאגות ומידע</a></li>
        </ul>
    </div>
</header>
<!-- fixed-top bg-white -->