/* General Styling */
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li > div {
    text-align: right;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
  }
  
  h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }
  
  .story-content {
    text-align: right;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    direction: rtl; /* Added: Set the text direction to right-to-left */
    white-space: pre-line; /* Added: Preserve line breaks */
  }
  
  .story-content:not(:first-child) {
    margin-top: 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  /* Mobile Styles */
  @media (max-width: 767px) {
    li {
      margin-bottom: 20px;
    }
    
    h1 {
      font-size: 18px;
    }
    
    .story-content {
      font-size: 14px;
    }
  }
  
  /* Desktop Styles */
  @media (min-width: 768px) {
    li {
      display: flex;
      justify-content: center;
    }
  
    li > div {
      width: 50%;
      margin: 0 auto;
    }
    
    h1 {
      font-size: 24px;
    }
    
    .story-content {
      font-size: 16px;
    }
  }
  