.table-responsive {
    overflow-x: auto;
}
.subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    color: #FF0000; /* Red text color */
    font-weight: bold;
}

.character-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.btn-theme {
    background-color: #FF0000; /* Red background color */
    color: #FFFFFF; /* White text color */
}

.bg-secondary-theme {
    background-color: #000000; /* Black background color */
    color: #FF0000; /* Red text color */
}

.text-theme-center {
    color: #FF0000; /* Red text color */
    font-weight: bold;
}
@media (max-width: 767px) {
    .card-body {
      padding: 10px;
    }
  
    .btn {
      margin-top: 10px;
    }
  
    .character-image {
      width: 100%;
      height: auto;
    }
  
    /* Adjust other styles as needed for mobile devices */
  }
  